/neuroConstruct/generatedNeuroML2/runsim.sh
/neuroConstruct/generatedNeuroML2/*.nml~
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
Net_5*.h5
Net_5*.nml
*.*~
