
/neuroConstruct/generatedNeuroML2/runsim.sh
/neuroConstruct/generatedNeuroML2/*.nml~
/neuroConstruct/generatedNeuroML2/*.dat
/neuroConstruct/generatedNeuroML2/*.hoc
/neuroConstruct/generatedNeuroML2/*.mod

/neuroConstruct/generatedNeuroML2/*nrn.py
savedNetworks

*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
Net_5*.h5
Net_5*.nml
*.*~
